service:
  product:
    url: ${SERVICE_PRODUCT_URL:http://localhost:8085}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

spring:
  cloud:
    discovery:
      enabled: true

